.heading {
  color: #0078e7;
  font-size: 29px;
  line-height: 40px;
  margin-bottom: 10px;
}
#information {
  line-height: 23px;
}
#no_next_details {
  line-height: 20px;
}
#no_next_details p {
  margin-top: 10px;
}
.sub-heading {
  font-size: 19px;
  color: #0078e7;
  margin: 10px 0px;
}
#intro-text {
  margin-bottom: 10px;
  line-height: 19px;
}
#summary-cont {
  width: 100%;
  box-sizing: border-box;
  background: #0078e7;
  padding: 10px;
}
#summary {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ecf0f3;
}
#cover_image {
  background-size: cover;
  background-position: center;
  min-height: 300px;
}
#next_title {
  font-weight: bold;
  font-size: 20px;
  color: #0078e7;
}
#next_details {
  font-size: 17px;
  line-height: 26px;
}
.text-button {
  outline: 1px solid #0078e7;
  padding: 4px;
  color: #0069ca;
}
.pcp {
  position: relative;
  display: inline-block;
  background: #0078e7;
  padding: 10px;
  color: #f7f9fb;
}
.pcp .button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 10px;
  color: #0069ca;
  background: #f7f9fb;
}
.pcp-title {
  font-size: 17px;
  color: #fff;
}
.pcp img {
  float: left;
}
.pcp-details {
  float: right;
  margin-left: 10px;
}
.sub-title {
  font-weight: bold;
}
