#contact-cont {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}
.contact-icon:before {
  font-family: FontAwesome;
}
#contact-email:before {
  content: "\f0e0";
}
#contact-phone:before {
  content: "\f095";
}
.contact-details {
  float: right;
  padding: 10px;
  display: inline-block;
}
#contact-title {
  font-size: 42px;
  padding-bottom: 5px;
  font-weight: bold;
}
#contact-subtitle {
  font-size: 19px;
  margin-bottom: 15px;
}
#contact-header {
  color: #005ba1;
}
#contact-cname {
  font-size: 20px;
}
#contact-info,
#contact-header {
  margin-bottom: 30px;
}
#contact-info p {
  line-height: 23px;
}
#contact-footer {
  margin: 10px 0px;
}
#contact-parent {
  width: 100%;
  max-width: 995px;
  margin: 0 auto;
  display: block;
}
#contact-parent-inner {
  background-color: #c4d5e2;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}
.icon {
  background-color: #005ba1;
  padding: 5px;
  font-size: 27px;
}
