#headlines {
  font-size: 19px;
  font-color: #e4ecf2;
  text-align: center;
  margin-bottom: 10px;
}
#headlines .headline {
  margin: 0px 5px;
  padding: 5px;
  display: inline-block;
  outline: solid 1px #e4ecf2;
}
.word-emphasize:before {
  font-family: FontAwesome;
  font-size: 39px;
  float: left;
  padding-right: 5px;
  font-weight: normal;
}
.banner_bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 415px;
}
.word-emphasize {
  color: #064474;
  font-size: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding-bottom: 10px;
}
#icn-achieve:before {
  content: "\f0c1";
}
#icn-express:before {
  content: "\f1ae";
}
#icn-create:before {
  content: "\f185";
}
#icn-evolve:before {
  content: "\f135";
}
#icn-center:before {
  content: "\f19c";
}
#icn-sales:before {
  content: "\f07a";
}
#icn-tuition:before {
  content: "\f02d";
}
#icn-tourism:before {
  content: "\f1d8";
}
#icn-networks:before {
  content: "\f0e6";
}
#icn-vacancies:before {
  content: "\f0c0";
}
.index-row {
  display: inline-block;
}
.index-card {
  color: #006fc3;
  padding: 10px;
  margin: 5px;
  line-height: 18px;
  display: inline-block;
}
.index-card .icon {
  color: #2283dd;
  float: left;
  font-size: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}
.card-text {
  margin-left: 60px;
}
.bar-left-text {
  width: 100%;
  padding: 10px 0px;
  color: #064474;
  font-size: 22px;
  box-sizing: border-box;
}
.bar-left-text:before {
  font-family: FontAwesome;
  content: "\f10d";
}
.bar-left-text:after {
  font-family: FontAwesome;
  content: "\f10e";
}
.bar-text-btn {
  text-align: center;
  margin: 10px;
}
.bar-text-btn .button {
  margin: 0 auto;
}
.seperate_row {
  font-size: 37px;
  font-weight: bold;
  color: #2283dd;
  margin-bottom: 10px;
}
#team .seperate_row.team-sub {
  font-size: 27px;
  margin-top: 10px;
}
.card-links {
  margin-top: 10px;
}
.team-pic {
  float: left;
}
img.team-pic {
  width: 120px;
  height: 120px;
}
.team-row {
  white-space: nowrap;
  overflow-x: auto;
}
.team-cont {
  display: inline-block;
}
.team-container {
  color: #fff;
  display: table;
  margin: 0 auto;
  background: #2283dd;
  padding: 10px;
}
.team-details {
  float: right;
  margin-left: 10px;
}
.team-name {
  font-size: 18px;
}
.team-position {
  color: #e4ecf2;
  font-size: 13px;
}
