#headlines {
  font-size: 19px;
  color: #eef5fb;
  text-align: center;
  margin-bottom: 10px;
  background-color: #2283dd;
}
.royalSlider {
  opacity: 0;
}
.banner_parent {
  padding: 10px;
  background: #2283dd;
}
.banner_list .link_list {
  background-color: #eef5fb;
  padding: 6px;
  display: table;
}
.banner_list {
  right: 5px;
  bottom: 0px;
  position: absolute;
}
.banner_list .banner_link {
  margin-left: 6px;
  float: left;
  display: inline-block;
}
.banner_list .banner_link:first-child {
  margin-left: 0px;
}
.banner_thumb {
  width: 70px;
  height: 70px;
}
.banner_content {
  color: #eef5fb;
  width: inherit;
  position: absolute;
  text-align: center;
}
.banner_details {
  width: inherit;
  position: relative;
  margin: 20px auto;
  word-break: break-word;
  width: 80%;
  text-align: -webkit-center;
  line-height: 33px;
  font-weight: 600;
  font-size: 23px;
  padding: 7px;
}
.banner_details h3 {
  font-size: 35px;
  text-transform: capitalize;
}
.banner_bg {
  width: 100%;
  height: auto;
}
.ribbon_cont {
  position: absolute;
  width: inherit;
  bottom: 4px;
}
.banner_ribbon {
  width: 100%;
  position: relative;
}
.banner_img {
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
}
.banner_ctg {
  text-align: right;
  padding: 15px 0px;
}
.banner_ctg span {
  background: #eef5fb;
  padding: 10px;
  font-size: 16px;
  color: #2283dd;
}
.banner_more {
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.banner_more .num {
  padding-top: 6px;
  font-size: 30px;
  color: #2283dd;
  line-height: 30px;
}
.banner_more .txt {
  color: #737373;
  font-size: 15px;
}
.lSSlideOuter .lSPager.lSpg {
  position: relative;
  bottom: 3px;
  color: #e4ecf2;
}
.banner_cont {
  margin: 0px auto 0px auto;
  width: 100%;
  max-width: 900px;
}
.banner_quote_by {
  font-size: 17px;
}
@media only screen and (max-width: 540px) {
  .banner_thumb {
    width: 54px;
    height: 54px;
  }
  .banner_img {
    height: 52px;
    background-size: 52px;
  }
  .banner_details {
    margin: 3px auto;
    width: 95%;
    line-height: 25px;
    font-size: 20px;
  }
  .banner_quote_by {
    font-size: 14px;
  }
}
#headlines .headline {
  margin: 0px 5px;
  padding: 5px;
  display: inline-block;
  outline: solid 1px #eef5fb;
}
.word-emphasize:before {
  font-family: FontAwesome;
  font-size: 39px;
  float: left;
  padding-right: 5px;
  font-weight: normal;
}
.word-emphasize {
  color: #064474;
  font-size: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding-bottom: 10px;
}
#icn-achieve:before {
  content: "\f0c1";
}
#icn-express:before {
  content: "\f1ae";
}
#icn-create:before {
  content: "\f185";
}
#icn-evolve:before {
  content: "\f135";
}
#icn-center:before {
  content: "\f19c";
}
#icn-sales:before {
  content: "\f07a";
}
#icn-tuition:before {
  content: "\f02d";
}
#icn-tourism:before {
  content: "\f1d8";
}
#icn-networks:before {
  content: "\f0e6";
}
#icn-vacancies:before {
  content: "\f0c0";
}
.index-row {
  display: inline-block;
}
.index-card {
  color: #006fc3;
  padding: 10px;
  margin: 5px;
  line-height: 18px;
  display: inline-block;
}
.index-card .icon {
  color: #2283dd;
  float: left;
  font-size: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}
.card-text {
  margin-left: 60px;
}
.bar-left-text {
  width: 100%;
  padding: 10px 0px;
  color: #064474;
  font-size: 22px;
  box-sizing: border-box;
}
.bar-left-text:before {
  font-family: FontAwesome;
  content: "\f10d";
}
.bar-left-text:after {
  font-family: FontAwesome;
  content: "\f10e";
}
.bar-text-btn {
  text-align: center;
  margin: 10px;
}
.bar-text-btn .button {
  margin: 0 auto;
}
.seperate_row {
  font-size: 37px;
  font-weight: bold;
  color: #2283dd;
  margin-bottom: 10px;
}
#team .seperate_row.team-sub {
  font-size: 27px;
  margin-top: 10px;
}
.card-links {
  margin-top: 10px;
}
.team-pic {
  float: left;
}
img.team-pic {
  width: 120px;
  height: 120px;
}
.team-row {
  white-space: nowrap;
  overflow-x: auto;
}
.team-cont {
  display: inline-block;
}
.team-container {
  color: #fff;
  display: table;
  margin: 0 auto;
  background: #2283dd;
  padding: 10px;
}
.team-details {
  float: right;
  margin-left: 10px;
}
.team-name {
  font-size: 18px;
}
.team-position {
  color: #eef5fb;
  font-size: 13px;
}
