img.team-pic {
  float: left;
  border-radius: 8px;
  width: 75px;
  height: 75px;
}
.team-footer {
  margin-top: 5px;
}
.team-row {
  white-space: nowrap;
  overflow-x: auto;
}
.team-cnt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.team-details {
  margin-left: 84px;
}
.team-name {
  font-size: 20px;
}
.team-descr {
  font-size: 14px;
}
.team-position {
  color: #f7f9fb;
  margin-top: 5px;
  font-size: 14px;
}
#headlines {
  font-size: 19px;
  color: #f7f9fb;
  text-align: center;
  margin-top: 10px;
  background-color: #0078e7;
}
.intro-title {
  font-size: 20px;
  color: #0078e7;
  margin-bottom: 10px;
  font-weight: bold;
}
.intro-text {
  line-height: 20px;
  font-size: 14px;
  color: #0069ca;
}
.royalSlider {
  opacity: 0;
}
.banner-text,
.banner_bottom {
  text-shadow: 0px 0px 3px #000;
}
.banner-text {
  text-align: justify;
  font-size: 17px;
  margin-top: 10px;
  color: #fff;
  font-weight: normal;
  line-height: 25px;
}
.banner_parent {
  padding: 10px;
  background: #0078e7;
}
.banner_list .link_list {
  background-color: #f7f9fb;
  padding: 6px;
  display: table;
  margin: 10px;
  right: 0px;
  position: absolute;
}
.banner_list .banner_link {
  margin-left: 6px;
  float: left;
  display: inline-block;
}
.banner_list .banner_link:first-child {
  margin-left: 0px;
}
.banner_thumb {
  width: 70px;
  height: 70px;
}
.banner_bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  line-height: 21px;
}
.banner_content {
  color: #f7f9fb;
  width: inherit;
  text-align: center;
}
.banner_details h3 {
  font-size: 35px;
  text-transform: capitalize;
}
.banner_bg {
  width: 100%;
  height: auto;
}
.ribbon_cont {
  position: absolute;
  width: inherit;
  bottom: 4px;
}
.banner_ribbon {
  width: 100%;
  position: relative;
}
.banner_img {
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
}
.banner_ctg {
  text-align: right;
  padding: 15px 0px;
}
.banner_ctg span {
  background: #f7f9fb;
  padding: 10px;
  font-size: 16px;
  color: #0078e7;
}
.banner_more {
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.banner_more .num {
  padding-top: 6px;
  font-size: 30px;
  color: #0078e7;
  line-height: 30px;
}
.banner_more .txt {
  color: #737373;
  font-size: 15px;
}
.lSSlideOuter .lSPager.lSpg {
  position: relative;
  bottom: 3px;
  color: #e4ecf2;
}
.banner_quote_by {
  font-size: 17px;
}
@media only screen and (max-width: 540px) {
  .banner_thumb {
    width: 54px;
    height: 54px;
  }
  .banner_img {
    height: 52px;
    background-size: 52px;
  }
  .banner_details {
    margin: 3px auto;
    width: 95%;
    line-height: 25px;
    font-size: 20px;
  }
  .banner_quote_by {
    font-size: 14px;
  }
}
#headlines .headline {
  margin: 0px 5px;
  padding: 5px 10px;
  background-color: #f7f9fb;
  color: #0078e7;
  border-radius: 8px;
  display: inline-block;
}
.word-emphasize:before {
  font-family: FontAwesome;
  font-size: 39px;
  float: left;
  padding-right: 5px;
  font-weight: normal;
}
.word-emphasize {
  font-size: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding-bottom: 10px;
}
#icn-achieve:before {
  content: "\f0c1";
}
#icn-express:before {
  content: "\f1ae";
}
#icn-create:before {
  content: "\f185";
}
#icn-evolve:before {
  content: "\f135";
}
#icn-center:before {
  content: "\f19c";
}
#icn-sales:before {
  content: "\f07a";
}
#icn-tuition:before {
  content: "\f02d";
}
#icn-tourism:before {
  content: "\f1d8";
}
#icn-networks:before {
  content: "\f0e6";
}
#icn-vacancies:before {
  content: "\f0c0";
}
.index-row {
  display: inline-block;
}
.index-card {
  color: #0069ca;
  padding: 10px;
  margin: 5px;
  line-height: 18px;
  display: inline-block;
}
.index-card .icon {
  color: #0078e7;
  float: left;
  font-size: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}
.card-text {
  margin-left: 60px;
}
.bar-left-text {
  width: 100%;
  padding: 10px 0px;
  color: #015494;
  font-size: 22px;
  box-sizing: border-box;
}
.bar-left-text:before {
  font-family: FontAwesome;
  content: "\f10d";
}
.bar-left-text:after {
  font-family: FontAwesome;
  content: "\f10e";
}
.bar-text-btn {
  text-align: center;
  margin: 10px;
}
.bar-text-btn .button {
  margin: 0 auto;
}
.seperate_row {
  font-size: 26px;
  font-weight: bold;
  color: #0078e7;
  margin-bottom: 10px;
}
.card-links {
  margin-top: 10px;
}
.team-container {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  border-radius: 7px;
  background: #0078e7;
  padding: 10px;
  width: 350px;
}
.team-sub {
  font-size: 19px;
  font-weight: normal;
  color: #0069ca;
}
