
.royalSlider {
  width: 100%;
  max-width: 1000px;
  height: 450px;
  margin: 0 auto;
  left: 0;
  top: 0;
}

.over{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  box-sizing: border-box;
}

#homeSlider {
  font-weight: bold;
}
#homeSlider .rsThumbsHor {
  height: 44px;
  padding: 0;
}
.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
  background: #FFF;
}
.rsDefaultInv .rsThumb.rsNavSelected {
  background: #dadada;
  color: #000;
}
#homeSlider .example-link {
  padding: 5px 12px 6px;
  color: #FFF;
  background: #FFF;
  position: absolute;
  color: #BB0202;
  right: 12px;
  bottom: 12px;
  text-decoration: none;
  font-weight: normal;
}
#homeSlider > .rsContent {
  display:none;
}
#homeSlider .example-link:hover {
  text-decoration: none;
  background: #C00;
  color: #FFF;
}
.rsWebkit3d .example-link {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
#homeSlider .rsThumb {
  width: 172px;
  height: 44px;
  cursor: pointer;
}
#homeSlider .rsTmb {
  text-align: center;
  margin-top: 11px;
  font-weight: bold;
}
#homeSlider .rsThumb i {
  font-style: normal;
  font-weight: bold;
}

.rsSlideTitle {
  font-size: 24px;
  padding: 11px 13px 14px;
  background: #c00;
  background: rgba(220,0,0,0.6);
  color: #FFF;
  font-weight: normal;
  margin: 0;
  line-height: 21px;
}
.rsFirstSlideTitle {
  left: 12%;
  top: 74px;

}
.rsSecondSlideTitle {
 left: 12%;
  top: 124px;
}
@media screen and (min-width: 0px) and (max-width: 960px) {
  .rsSlideTitle {
    font-size: 18px;
    padding: 10px 12px 12px;
  }
  .rsFirstSlideTitle {
    left: 8%;
    top: 54px;
  }
  .rsSecondSlideTitle {
   left: 8%;
    top: 99px;
  }
  #homeSlider .rsThumb {
    font-size: 12px;
    width: 115px;
    height: 44px;
    cursor: pointer;
  }
  #homeSlider .rsTmb {
   margin-top: 12px;
  }
}
  @media screen and (min-width: 0px) and (max-width: 500px) {
  .royalSlider {
    height: 300px !important;
  }
    .rsSlideTitle {
    font-size: 14px;
    padding: 8px 10px 8px;
  }
   .rsFirstSlideTitle {
      left: 24px;
      top: 24px;
    }
    .rsSecondSlideTitle {
     left: 24px;
      top: 63px;
    }
 }
