/**
 * CSS for timeline-jquery.
 */
.vertical-timeline-container {
  *zoom: 1;
/**
   * Posts
   */
/**
   * Group marker
   */
/**
   * Group
   */
/**
   * Top buttons
   */
/**
   * Layout
   */
/**
   * Isotope Filtering
   */
/**
   * Isotope CSS3 transitions
   */
/**
   * disabling Isotope CSS3 transitions
   */
}
.vertical-timeline-container:before,
.vertical-timeline-container:after {
  content: " ";
  display: table;
}
#team-member {
  background-color: #cfe1ee;
}
#team-member-inner {
  max-width: 850px;
  margin: 0 auto;
  background-color: #e4ecf2;
}
#team-name {
  font-size: 24px;
  color: #006fc3;
  font-weight: bold;
}
.vertical-timeline-container {
  padding-left: 30px;
}
.vertical-timeline-container:after {
  clear: both;
}
.vertical-timeline-container .vertical-timeline-timeline {
  margin: 20px auto 30px auto;
}
.vertical-timeline-container .clearfix {
  *zoom: 1;
  display: table;
  height: 0px;
  width: 100%;
}
.vertical-timeline-container .clearfix:before,
.vertical-timeline-container .clearfix:after {
  content: " ";
  display: table;
}
.vertical-timeline-container .clearfix:after {
  clear: both;
}
.vertical-timeline-container .loading {
  text-align: center;
  font-size: 2em;
  margin: 1em;
  color: #565656;
}
.vertical-timeline-container .post {
  margin: 20px 0 10px 30px;
/* float: left; */
}
.vertical-timeline-container .post.last {
  margin-bottom: 0;
}
.vertical-timeline-container .post .inner {
  position: relative;
  padding: 11px;
  background-color: #006fc3;
  min-height: 37px;
  word-wrap: break-word;
}
.vertical-timeline-container .post.right {
  float: right;
}
.vertical-timeline-container .post h3 {
  margin: 0;
  font-family: Georgia, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #e4ecf2;
  padding-right: 30px;
  line-height: 1.3em;
}
.vertical-timeline-container .post .caption {
  color: #c5d5e0;
  font-family: Georgia, sans-serif;
  font-size: 12px;
  margin-top: 4px;
}
.vertical-timeline-container .post .body {
  margin-top: 10px;
}
.vertical-timeline-container .post.expanded .body {
  display: block;
}
.vertical-timeline-container .post .body img {
  width: 100%;
  height: auto;
  max-width: 490px;
}
.timeline-image {
  float: left;
  margin-right: 10px;
}
.vertical-timeline-container .post .text {
  color: #e4ecf2;
  font-family: Georgia, sans-serif;
  font-size: 15px;
  margin: 10px 0;
  line-height: 1.5;
}
.vertical-timeline-container .post a.open-close:after {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  font-family: FontAwesome;
  font-size: 20px;
  content: "\f0d8";
  text-align: center;
}
.vertical-timeline-container .post.collapsed a.open-close:after {
  content: "\f0d7";
}
.vertical-timeline-container .post .title .title-icon {
  height: 20px;
  width: 20px;
  margin-right: 4px;
  vertical-align: top;
}
.vertical-timeline-container .post.closed .title {
  display: table;
  min-height: 40px;
}
.vertical-timeline-container .post.closed .title h3 {
  display: table-cell;
  vertical-align: middle;
}
.vertical-timeline-container .post a.more {
  color: #3d3d3d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #e4ecf2;
  font-weight: bold;
  text-align: center;
  padding: 4px 15px;
  margin: 5px auto 0 auto;
  display: block;
  line-height: 28px;
}
.vertical-timeline-container .post a.more:hover {
  background-color: #fafafa;
}
.vertical-timeline-container .post .symbol {
  color: #e4ecf2;
  left: -62px;
  font-size: 12px;
  text-align: center;
  background-color: #006fc3;
  position: absolute;
  top: 0px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.vertical-timeline-container .group-marker {
  float: left;
  width: 80px;
  margin: 50px 0 15px 0;
}
.vertical-timeline-container .group-marker.top {
  margin-top: 0;
}
.vertical-timeline-container .group-marker .inner2 {
  background-color: #04658e;
}
.vertical-timeline-container .group {
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
}
.vertical-timeline-container .vertical-timeline-buttons {
  text-align: center;
  margin: 20px 0 10px 0;
}
.vertical-timeline-container .vertical-timeline-buttons div {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.vertical-timeline-container .vertical-timeline-buttons .expand-collapse-buttons {
  margin-right: 20px;
}
.vertical-timeline-container .vertical-timeline-buttons a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  width: 126px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 12px;
  background-color: #04658e;
  color: #e4ecf2;
  text-transform: uppercase;
}
.vertical-timeline-container .vertical-timeline-buttons a.active:hover,
.vertical-timeline-container .vertical-timeline-buttons a.active {
  opacity: 0.15;
  cursor: default;
}
.vertical-timeline-container .vertical-timeline-buttons a:hover {
  -webkit-box-shadow: 0px 1px 1px 0px #adadad;
  -moz-box-shadow: 0px 1px 1px 0px #adadad;
  box-shadow: 0px 1px 1px 0px #adadad;
}
.vertical-timeline-container .vertical-timeline-buttons a span {
  padding-right: 15px;
  background-position: right -20px;
}
.vertical-timeline-container .vertical-timeline-buttons a.active span {
  background-position: right 4px;
}
.vertical-timeline-container .vertical-timeline-buttons a.expand-all span,
.vertical-timeline-container .vertical-timeline-buttons a.sort-newest span {
  background-image: url("./images/down-arrows.png?1390344614");
  background-repeat: no-repeat;
}
.vertical-timeline-container .vertical-timeline-buttons a.collapse-all span,
.vertical-timeline-container .vertical-timeline-buttons a.sort-oldest span {
  background-image: url("./images/up-arrows.png?1390344614");
  background-repeat: no-repeat;
}
@media (max-width: 860px) {
  .timeline-image {
    float: none;
  }
}
@media (max-width: 540px) {
  #team-profile img {
    float: none !important;
  }
}
@media (max-width: 675px) {
  .vertical-timeline-container .vertical-timeline-buttons .expand-collapse-buttons,
  .vertical-timeline-container .vertical-timeline-buttons .sort-buttons {
    margin: 0 0 10px 0;
  }
}
.vertical-timeline-container .isotope-item.collapsed .body {
  display: none;
}
.vertical-timeline-container .isotope-item {
  padding-right: 10px;
  z-index: 2;
}
.vertical-timeline-container .isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.vertical-timeline-container .vertical-timeline-container .isotope,
.vertical-timeline-container .vertical-timeline-container .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.vertical-timeline-container .vertical-timeline-container .isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.vertical-timeline-container .vertical-timeline-container .isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}
.vertical-timeline-container .isotope.no-transition,
.vertical-timeline-container .isotope.no-transition .isotope-item,
.vertical-timeline-container .isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
