#summary-cont {
  width: 100%;
  box-sizing: border-box;
  background: #2283dd;
  padding: 10px;
}
#intro {
  font-size: 19px;
  line-height: 24px;
  color: #006fc3;
}
#more-info .icon,
#positions .ctg .icon {
  font-size: 17px;
  color: #fff;
  font-weight: bold;
}
#positions .entry {
  margin-bottom: 5px;
}
#contact .card {
  background: #2283dd;
  max-width: 310px;
  text-align: center;
  line-height: 23px;
}
#contact .card_cont {
  padding: 10px;
}
#space {
  text-align: center;
}
#space .title {
  font-size: 30px;
  color: #2283dd;
  margin-top: 10px;
  margin-bottom: 20px;
}
#space .btn {
  float: none;
  padding: 16px;
  font-size: 17px;
}
#positions .card {
  max-width: 400px;
}
#summary {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #d1e6f6;
}
#intro-s p {
  margin-bottom: 10px;
}
#cover_image {
  background-size: cover;
  background-position: center;
  min-height: 300px;
}
.row-title {
  font-weight: bold;
  font-size: 30px;
  color: #2283dd;
  margin-bottom: 10px;
}
.btn {
  background: #2283dd;
  padding: 10px;
  display: inline-block;
  float: right;
}
.ctg {
  margin-top: 10px;
}
.ctg-title {
  font-size: 22px;
  color: #fff;
  margin-bottom: 5px;
}
.card .sub-title {
  font-size: 18px;
}
.icon {
  font-size: 25px;
}
.age {
  font-size: 14px;
}
.card {
  max-width: 360px;
  margin: 0 auto;
  color: #eef5fb;
  padding: 10px;
}
.card .inner {
  background: #2283dd;
  padding: 10px;
}
.card .title {
  margin-bottom: 5px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.description {
  line-height: 20px;
}
